@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f8f4f0;
  --foreground: #353535;
  --card: #ffffff;
  --card-foreground: #353535;
  --popover: #ffffff;
  --popover-foreground: #353535;
  --primary: #277c78;
  --primary-foreground: #ffffff;
  --secondary: #fcfcfc;
  --secondary-foreground: #a1a1a1;
  --muted: #ededed;
  --muted-foreground: #a1a1a1;
  --accent: #fcfcfc;
  --accent-foreground: #a1a1a1;
  --destructive: #ff6467;
  --destructive-foreground: #ffffff;
  --border: #ededed;
  --input: #fcfcfc;
  --ring: #ababab;
  --chart-1: #28cf6d;
  --chart-2: #aaaaaa;
  --chart-3: #9a9a9a;
  --chart-4: #f6c79e;
  --chart-5: #656565;
  --sidebar: #201f24;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ababab;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #5c5c5c;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #5c5c5c;
  --sidebar-ring: #ababab;
  --font-sans: Public Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Abhaya Libre, ui-serif, serif;
  --font-mono: Azeret Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
    0rem 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
    0rem 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1),
    0rem 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #1d1d1d;
  --foreground: #ffffff;
  --card: #2c2c2c;
  --card-foreground: #ffffff;
  --popover: #2c2c2c;
  --popover-foreground: #ffffff;
  --primary: #277c78;
  --primary-foreground: #ffffff;
  --secondary: #353535;
  --secondary-foreground: #ededed;
  --muted: #373737;
  --muted-foreground: #ededed;
  --accent: #353535;
  --accent-foreground: #ededed;
  --destructive: #a2a2a2;
  --destructive-foreground: #ffffff;
  --border: #353535;
  --input: #353535;
  --ring: #ababab;
  --chart-1: #ababab;
  --chart-2: #aaaaaa;
  --chart-3: #9a9a9a;
  --chart-4: #808080;
  --chart-5: #656565;
  --sidebar: #2c2c2c;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ababab;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #353535;
  --sidebar-accent-foreground: #ededed;
  --sidebar-border: #353535;
  --sidebar-ring: #ababab;
  --font-sans: Public Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Abhaya Libre, ui-serif, serif;
  --font-mono: Azeret Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.1);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.2),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.2),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.2),
    0rem 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.2),
    0rem 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.2),
    0rem 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.box::before{
  background: var(--before-bg);
}